@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #1D2125;
	font-family: 'Roboto Condensed', 'Helvetica';
	color: #ffffff;
}

a, button, input {
	outline: none;
}

.image {
    width: 400px;
}

@media (max-width: 920px) {
    .image {
        width: 300px;
    }
}

@keyframes transition {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}100% {
		transform: translateY(0);
		opacity: 1;
	}
}
