@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

:root {
	--h1: 1.802rem;
	--h2: 1.602rem;
	--h3: 1.424rem;
	--h4: 1.266rem;
	--h5: 1.125rem;
	--h6: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background: #1D2125;
	font-family: 'Roboto Condensed', 'Helvetica';
	color: #fff;
}

a, button, input {
	outline: none;
}

.image {
    width: 380px;
}

@media (max-width: 820px) {
    .image {
        width: 300px;
    }
}

@keyframes transition {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}100% {
		transform: translateY(0);
		opacity: 1;
	}
}
